
select{
  cursor: pointer;
}

ol{
  text-align: justify;
}


.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.content{
    margin-left: 25%;
    min-height: 90vh;
    width: 75%;
}

nav{
  transition: background-color 0.3s ease-in-out;
}

/* hide arrow from input type=number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


/* Hide the sidebar on extra small screens */


@media (max-width: 575.98px) {
    
    .content {
      margin-left: 0;
      width: 100%;
    }
    h4{
      font-size: 18px;
    }
  }

@media (min-width:1500px) {
    
    .content {
      margin-left: 35%;
      width: 100%;
    }
  }

@media (min-width:575.98) {
    
    #sidebar {
      
      width: 25%;
      
    }
  }

  /* blinking animation */
  @keyframes blink {
    0%{
      color: red;
    }
    50%{
      color: green;
    }
    100%{
      color: blue;
    }
    
  }

  .blink{
    animation: blink 1s infinite;
  }